<navigation></navigation>
<div class="container">
</div>
<div class="row list-group col-xs-12 col-md-8">
    <div class="header">
        <h2>List room</h2>
    </div>
    <div style="padding: 0 43% 5px">
        <button class="btn btn-primary btn-md animated zoomIn" ng-click="addRoom()">New Room</button>
    </div>
    <div class="list-group-item animated jackInTheBox" style="border-radius: 25px;" ng-repeat="room in rooms">
        <h5 ng-click="joinRoom(room.name, room.id)" style="color: black; cursor: pointer; margin: 5px 0">
            {{ room.name }}
            <button type="button" class="close" ng-click="onCancelButtonClicked()" aria-hidden="true" ng-hide="">
                &times;
            </button>
        </h5>

    </div>
</div>
<div class="col-md-4">
    <div class="header">
        <h2>Ranking</h2>
    </div>
    <ul class="row list-group">
        <li class="list-group-item animated fadeInRight" style="border-radius: 25px;" ng-repeat="user in users">
            <h5>{{ user.username }} <span class="badge" style="float: right">{{ user.point }} </span> </h5>
        </li>
</div>
</div>
</div>